# Logs and screenshots
logs/
screenshots/
data/

# Sensitive information
config.json
*.env

# ChromeDriver binaries
chromedriver*.exe

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
