name: verify-scripts
on:
  workflow_dispatch:
  schedule:
    - cron: '30 14 * * 3'
permissions:
  contents: read
jobs:
  lint-yaml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ibiqlik/action-yamllint@v3
